body {
	line-height: 1.0;
	min-width: 320px;
	font-size:100%;
	display: block;
	position: center;
	background-color:#5b4869;
	line-height: 1.0;
	min-width: 320px;
	overflow-y: scroll;
	margin-top: -32px;
}

html {
	font-size: 18pt;
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
}

u {
	text-decoration: underline;
}

code {
	background-color: rgba(144,144,144,0.25);
	border-radius: 4px;
	font-family: 'Lucida Console', 'Courier New', monospace;
	font-size: 14.4px;
	font-weight: normal;
	letter-spacing: 0;
	margin: 0 4px;
	padding: 4px 8px;
	text-indent: 0;
}

mark {
	background-color: rgba(144,144,144,0.25);
	color: white;
	
}

strong {
	color: inherit;
	font-weight: bolder;
}

ul {
	list-style:none;
}

a {
	color: inherit;
	text-decoration: underline;
}

:root {
	--background-height: 100vh;
	--viewport-height: 100vh;
}

form {
	display: flex;
	justify-content: left;
}

form .inner {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 100%;
}

form label {
	display: block;
}

form .field button {
	align-items: center;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	display: flex;
	justify-content: center;
}

form input[type="text"], form input[type="email"],form textarea, form .file {
	background-color: transparent;
	border: 0;
	display: block;
	outline: 0;
	width: 100%;
}

form textarea {
	height:160px;
	line-height: normal;
}

form select {
	background-repeat: no-repeat;
	background-size: 16px;
}

form select option {
	background-color: white;
	color: black;
}

form input[type="checkbox"] {
	display: block;
	float: left;
	margin-right: -16px;
	opacity: 0;
	width: 16px;
	z-index: -1;
}

form input[type="checkbox"] + label {
	align-items: center;
	display: inline-flex;
	line-height: 1.6;
	text-align: left;
}

form .number > button {
	position: absolute;
}

form .file > button {
	position: absolute;
}

form .file > input[type="file"] {
	cursor: pointer;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

form .actions button {
	align-items: center;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	max-width: 100%;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

.links {
	display: flex;
	justify-content: inline;
	letter-spacing: 0;
	line-height: 1.5;
	padding: 0;
}

.links li {
	position: relative;
}

.links li a {
	direction: left;
	display: block;
}

h1, h2, h3, p {
	direction: center;
	position: relative;
}

h1 span.p, h2 span.p, h3 span.p, p span.p {
	display: block;
	position: relative;
}

h1.style3, h2.style3, h3.style3, p.style3 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	letter-spacing: 7.2px;
	font-size: 12px;
	line-height: 1.375;
	font-weight: 400;
}

h1.style6, h2.style6, h3.style6, p.style6 {
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	line-height: 1.125;
	font-weight: 400;
}

h1.style7, h2.style7, h3.style7, p.style7 {
	color: #FFFFFF;
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 36px;
	line-height: 0.75;
	font-weight: 700;
	text-align: center;
}

h1.style8, h2.style8, h3.style8, p.style8 {
	text-align: center;
	color: #A1E3DB;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	line-height: 0.75;
	font-weight: 500;
}

h1.style9, h2.style9, h3.style9, p.style9 {
	text-align: left;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 12px;
	line-height: 0.75;
	font-weight: 300;
}

h1.style10, h2.style10, h3.style10, p.style10 {
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	line-height: 1.125;
	font-weight: 600;
}

h1.style11, h2.style11, h3.style11, p.style11 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 30px;
	line-height: 0.75;
	font-weight: 600;
}

h1.style12, h2.style12, h3.style12, p.style12 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	line-height: 1.2;
	font-weight: 400;
}

.container {
	position: relative;
}

.container > .wrapper {
	vertical-align: top;
	position: relative;
	max-width: 100%;
	border-radius: inherit;
}

.container > .wrapper > .inner {
	vertical-align: top;
	position: relative;
	max-width: 100%;
	border-radius: inherit;
	text-align: center;
} 

.container.style1 {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	margin: 48px;
} 

.container.style1 > .wrapper > .inner {
	--gutters: 48px;
	--padding-horizontal: 16px;
	--padding-vertical: 10px;
	--spacing: 4px;
}

.container.style1 > .wrapper {
	max-width: 100%;
	width: 100%;
}

.container.style1.columns > .wrapper > .inner {
	flex-wrap: wrap;
	display: center;
	align-items: center;
}

.container.style2 {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: rgba(255,255,255,0.11);
}

.container.style5 {
	--alignment: center;
	--flex-alignment: center;
	--indent-left: 1;
	--indent-right: 1;
	display: center;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: rgba(255,255,255,0.11);
}

.container.style5 > .wrapper > .inner {
	--gutters: 10px;
	margin: 20px;
	--padding-horizontal: 40px;
	--padding-vertical: 26px;
	--spacing: 4px;
}

.container.style5 > .wrapper {
	max-width: 945px;
	width: 100%;
}

.container.style5.columns > .wrapper > .inner {
	flex-wrap: wrap;
	display: flex;
	align-items: flex-start;
}

.container.style5.columns > .wrapper > .inner > .full {
	align-self: stretch;
}

.image {
	display: block;
	line-height: 0;
	max-width: 100%;
	position: relative;
}

.image .frame {
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
}

.image .frame img {
	vertical-align: top;
	width: inherit;
}

.image.full .frame {
	display: block;
}

.buttons {
	display: flex;
	justify-content: center;
	letter-spacing: 0;
	padding: 0;
}

.buttons li {
	max-width: 100%;
}

.buttons li a {
	align-items: center;
	justify-content: center;
	max-width: 100%;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
}

.buttons.style1 {
	justify-content: center;
	gap: 12px;
	flex-direction: row;
	flex-wrap: wrap;
}

.buttons.style1 li a {
	display: inline-block;
	width: 112px;
	height: 20px;
	line-height: 20px;
	padding: 0 5px;
	vertical-align: middle;
	text-transform: uppercase;
	font-family: 'Inter', sans-serif;
	letter-spacing: 3.2px;
	font-size: 12px;
	font-weight: 400;
	border-radius: 40px;
}

.buttons.style1 .button {
	background-color: transparent;
	color: #FFFFFF;
}

.buttons.style3 {
	justify-content: center;
	gap: 12px;
	flex-direction: row;
	flex-wrap: wrap;
}

.buttons.style2 {
	justify-content: center;
	gap: 12px;
	flex-direction: row;
	flex-wrap: wrap;
}

.buttons.style2 .button {
	background-color: #82B5AF;
	color: #FFFFFF;
}

.buttons.style2 li a {
	display: inline-block;
	width: 112px;
	height: 32px;
	line-height: 32px;
	padding: 0 8px;
	vertical-align: middle;
	text-transform: uppercase;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
	border-radius: 40px;
}

.buttons.style3 li a {
	display: inline-block;
	width: 208px;
	height: 24px;
	line-height: 2;
	padding: 0 6px;
	vertical-align: middle;
	text-transform: uppercase;
	font-family: 'Inter', sans-serif;
	letter-spacing: 3.2px;
	padding-left: calc(3.2px + 6px);
	font-size: 12px;
	font-weight: 400;
	border-radius: 40px;
}

.buttons.style3 .button {
	color: #FFFFFF;
	border: solid 3px #FFFFFF;
}

.buttons.style4 {
	justify-content: flex-start;
	gap: 12px;
	flex-direction: row;
	flex-wrap: wrap;
	display: center;
	margin-right: 48px;
}

.buttons.style4 li a {
	display: inline-block;
	width: 106px;
	height: 24px;
	line-height: 24px;
	padding: 0 0.0;
	vertical-align: middle;
	text-transform: uppercase;
	font-family: 'Inter', sans-serif;
	font-size: 12px;
	font-weight: 400;
	border-radius: 40px;
}

.buttons.style4 .button {
	background-color: #82B5AF;
	color: #FFFFFF;
}

#wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 2;
	padding: 96px 96px 96px 96px;
}

#main {
	--alignment: center;
	--flex-alignment: center;
	--indent-left: 1;
	--indent-right: 1;
	align-items: center;
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: center;
	max-width: 100%;
	position: relative;
	text-align: center;
	z-index: 1;
	background-color: transparent;
}

#main > .inner {
	--padding-horizontal: 192px;
	--padding-vertical: 0px;
	--spacing: 0px;
	--width: 1296px;
	max-width: 100%;
	position: relative;
	width: 1200px;
	z-index: 1;
	padding: 20 20;
}

#links02 {
	justify-content: flex-start;
	gap: 8px;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: 'Inter', sans-serif;
	font-size: 12px;
	font-weight: 400;
}

#links02 li a {
	color: #FFFFFF;
}

#image01 {
	text-align: left;
	object-fit: cover;
	object-position: left;
}

#image02 {
	text-align: left;
	object-fit: cover;
	object-position: center;
}

#image03 .frame {
	max-width: 100%;
	width: 742px;
}

#image03 img {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

#image04 .frame {
	max-width: 100%;
	width: 742px;
}

#image04 img {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

#image05 .frame {
	max-width: 100%;
	width: 250px;
}

#image05 img {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

#image06 .frame {
	max-width: 100%;
	width: 250px;
}

#image06 img {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100;
}

#image07 .frame {
	max-width: 100%;
	width: 250px;
}

#image07 img {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

#image08 .frame {
	max-width: 100%;
	width: 250px;
}

#image08 img {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

#image09 .frame {
	max-width: 100%;
	width: 250px;
}

#image09 img {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

#image10 .frame {
	max-width: 100%;
	width: 250px;
}

#image10 img {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

#image12 .frame {
	max-width: 100%;
	width: 250px;
}

#image12 img {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

#image13 .frame {
	max-width: 100%;
	width: 250px;
}

#image13 img {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

#image19 .frame {
	max-width: 100%;
	width: 360px;
}

#image19 img {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}


#container01 {
	--alignment: center;
	--flex-alignment: center;
	--indent-left: 1;
	--indent-right: 1;
	display: flex;
	width: 100%;
	align-items: top;
	justify-content: center;
	background-color: rgba(255,255,255,0.11);
}

#container01 > .wrapper {
	max-width: 944px;
	width: 100%;
}

#container01 > .wrapper > .inner {
	--gutters: 10px;
	--padding-horizontal: 40px;
	--padding-vertical: 26px;
	--spacing: 4px;
}

#container01.columns > .wrapper > .inner {
	flex-wrap: wrap;
	display: flex;
	align-items: center;
}

#text02 {
	color: #FFFFFF;
	font-family: 'Bai Jamjuree', sans-serif;
	padding-left: calc(12px * var(--indent-left));
	padding-right: calc(12px * var(--indent-right));
	font-size: 28.8px;
	line-height: 0.75;
	font-weight: 700;
}

#text03 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	line-height: 1.125;
	font-weight: 600;
}

#text033 {
	text-align: left;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	line-height: 1.125;
	font-weight: 600;
}

#text04 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	letter-spacing: 7.2px;
	width: calc(100% + 7.2);
	font-size: 12px;
	line-height: 1.375;
	font-weight: 400;
}

#text05 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	letter-spacing: 2.8px;
	width: calc(100% + 2.8px);
	font-size: 12px;
	line-height: 1.375;
	font-weight: 400;
}

#text06 {
	text-align: left;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	letter-spacing: 2.8px;
	width: calc(100% + 2.8px);
	font-size: 13.6px;
	line-height: 1.375;
	font-weight: 400;
}

#text066 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	letter-spacing: 2.8px;
	width: calc(100% + 2.8px);
	font-size: 12px;
	line-height: 1.375;
	font-weight: 400;
}

#text07 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 22px;
	line-height: 1;
	font-weight: 600;
}

#text076 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 27px;
	line-height: 1;
	font-weight: 600;
}

#text077 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 48px;
	line-height: 1;
	font-weight: 600;
	margin-top: 16px;
	margin-bottom: -4.8px;
}

#text08 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 15.2px;
	line-height: 1.125;
	font-weight: 200;
}

#text09 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	line-height: 0.75;
	font-weight: 600;
}

#text10 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 1;
	font-weight: 200;

}

#text11 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 1;
	font-weight: 200;

}

#text12 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 1;
	font-weight: 200;

}

#text13 {
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	line-height: 1.125;
	font-weight: 200;
}

#text14 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 15.2px;
	line-height: 0.75;
	font-weight: 200;
}

#text15 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 15.2px;
	line-height: 1;
	font-weight: 200;
}

#divider01 {
	width: 100%;
	background-color: rgba(255,255,255,0.439);
	height: 1px;
	display: center;
}

#form01 {
	justify-content: flex-start;
	text-align: left;
	margin: 8px 0 0 0;
	max-width: 100%;
}

#form01 .inner > * {
	margin: 8px 0 0 0;
	max-width: 100%;
}

#form01 .inner {
	width: 400px;
}

#form01 label {
	margin: 4px 0 6px 0;
	font-size: 12px;
	line-height: 1.5;
	font-family: 'Bai Jamjuree', sans-serif;
	font-weight: 700;
	color: #FFFFFF;
}

#form01 .field button {
	background-size: 8.8px;
	height: 17.6px;
	line-height: 17.6px;
	width: 17.6px;
	border-radius: 0px;
	background-color: #82B5AF;
}

#form01 input[type="text"], #form01 input[type="email"] {
	color: #FFFFFF;
	background-color: rgba(255,255,255,0.251);
}

#form01 input[type="checkbox"]{
	color: #FFFFFF;
}

#form01 .actions button {
	display: inline-block;
	width: 104px;
	height: 22px;
	line-height: 22px;
	padding: 0 5.5px;
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	border-radius: 0px;
	background-color: #82B5AF;
	color: #FFFFFF;
}

#form02 {
	justify-content: center;
	text-align: center;
}

#form02 .inner > * {
	margin: 8px 0 0 0;
	max-width: 100%;
}

#form02 .inner {
	width: 496px;
}

#form02 .field button {
	background-size: 140.8px;
	height: 17.6px;
	line-height: 17.6px;
	width: 17.6px;
	border-radius: 0px;
	background-color: #82B5AF;
}

#form02 input[type="text"], #form02 input[type="email"], #form02 textarea, #form02 select, #form02 input[type="checkbox"] + label, #form02 .file {
	font-size: 12px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	border-radius: 0px;
}

#form02 input[type="text"], #form02 input[type="email"], #form02 textarea, #form02 select, #form02 .file {
	color: #FFFFFF;
	background-color: rgba(255,255,255,0.251);
}

#form02 input[type="checkbox"] + label {
	color: #FFFFFF;
}

#form02 input[type="text"], #form02 input[type="email"], #form02 select, #form02 .file {
	height: 22px;
	padding: 0 7.7px;
	line-height: 22px;
}

#form02 textarea {
	padding: 7.7px;
	height: 192px;
	line-height: 1;
	padding-top: 4.9px;
}

#form02 input[type="checkbox"] + label:before {
	border-radius: 0px;
	color: #FFFFFF;
	background-color: rgba(255,255,255,0.251);
	background-size:9.35px;
	height: 16.5px;
	width: 16.5px;
	margin-right: 14px;
}

#form02 .actions button {
	display: inline-block;
	width: 104px;
	height: 22px;
	line-height: 22px;
	padding: 0 5.5px;
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	border-radius: 0px;
	direction: center;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: #82B5AF;
	color: #FFFFFF;
	position: relative;
}

#form02 ::-webkit-input-placeholder {
	color: #FFFFFF;
	opacity: 0.55;
}

#form02 :-moz-placeholder {
	color: #FFFFFF;
	opacity: 0.55;
}
